{% extends "layout.html" %}
{% block content %}
<form action="/trees/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Indx">Tree Number</label>
            <input id="Indx" type="text" class="form-control" placeholder="Tree Number" name="Indx">
        </div>
        <div class="col">
            <label for="Girth_in">Girth in inches</label>
            <input id="Girth_in" type="text" class="form-control" placeholder="Girth in inches"
                   name="Girth_in">
        </div>
        <div class="col">
            <label for="Height_ft">Height in feet</label>
            <input id="Height_ft" type="text" class="form-control" placeholder="Height in feet" name="Height_ft">
        </div>
        <div class="col">
            <label for="Volume_ft_3">Volume in cubic feet</label>
            <input id="Volume_ft_3" type="text" class="form-control" placeholder="Volume in cubic feet" name="Volume_ft_3">
        </div>
    </div>


    <button type="submit" class="btn btn-success">Add</button>

</form>

{% endblock %}

